* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    font-family: verdana, sans-serif;
    background-color: #ffffff;
    margin: 0px;
    padding: 20px;
    min-width: 500px;
    height: 100%;
    width: 100%;
}

.form-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    border: none;
}

.form-container label {
    font-weight: 700;
}

input[type=text] {
    width: 75%;
    max-width: 350px;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border: solid 1px #000000;
    background: #f1f1f1;
}

.submit-button {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    white-space: nowrap;
    background-color: #de2226;
    border: none;
    padding: 15px 35px;
    margin: 20px 50px;
    cursor: pointer;
    width: 300px;
}

.submit-button:hover {
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

table {
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}